<!DOCTYPE html>
<html lang="en">

<head>
    <title>Become a Member</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="title" content="PeepsPatriot membership | Peeps">
    <meta name="description" content="Please fill out the form below to become a PeepsPatriot.">
    <meta name="keywords"
        content="peeps, peepssx, dsocial, dbrowser, dweb, arisen, dwallet, peeros, dsearch, dride, dbuy">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/logos/peepsx.png">

    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="assets/vendor/custombox/dist/custombox.min.css">
    <link rel="stylesheet" href="assets/vendor/animate.css/animate.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <!-- CSS Space Template -->
    <link rel="stylesheet" href="assets/css/theme.css">
    <!-- stripe payment js -->
    <script src="https://js.stripe.com/v3/"></script>


</head>

<body>
    
    <div class="main-content">
        <div class="container">
            <div class="email-content" style="padding: 50px;">
                <h1 style="text-align: center;">Peeps | Welcome To I AM Freedom</h1>
                    <!-- Logo -->
                    <div class="emai-logo" style="text-align:center; margin:auto;">
                        <img src="https://peepsx.com/assets/img/logo/peepsemaillogo.png" alt="peepsx Logo" style="max-width: 50px !important; max-height: 50px !important;" >
                    </div>
                     <!-- End Logo -->
                <p style="font-weight: 600 !important;">Dear <%= user_firstname %></p> 
                <p style="font-weight: 600 !important;">Thank you for becoming an I AM Freedom member. Our fight against big tech has been going on for some time but it has never been more important than it is today. Our launch of the dWeb and development of "First Amendment Infrastructure" simply wouldn't be possible without people like you. If you have been hearing our commercials on the radio or seeing our online ads, just remember that this fight was started from a jail cell. Without a single dollar to my name, somehow, God surrounded me with patriots from the very beginning who made this fight possible. We have come a long way since those days! I have spent day in and day out making the most of the second chance God gave me to redeem myself and to help others in the process. </p>
                <p style="font-weight: 600 !important;">This isn't just my second chance, this is OUR second chance to build the web the right way this time around. The left's movement to muzzle Americans is much bigger and has come on much faster than you probably thought was possible, but it is a reality we're going to have to face. It's important to understand the left and what they're truly trying to accomplish in America, and what they're capable of, if we are going to find ways to get around their evil control mechanisms. For the past few years I have predicted much of what you're seeing today and it's why we decided to begin our work on the dWeb nearly three years ago! I'm so proud of the journey we've made and I feel privileged to be in a position to help the many Americans like yourself who are losing their voices and digital livelihoods every single day. While this fight has driven me to write tens of thousands of pages from prison for the past 26 months, it is now growing beyond just my hands, with new contributors and software developers joining our organization each and every day.</p>
                <p style="font-weight: 600 !important;">I'm glad that they're carrying on with a dream I've had for over a decade - and I'm truly happy that people like you are gathering around that dream with open arms. I will continue to fight for your freedoms, day in and day out, even without my own - that's a promise I've never shied away from and I never will. </p>
                <p style="font-weight: 600 !important;">Join our growing community over in our new Telegram room at https://t.me/peepsology</p>
                <p style="font-weight: 600 !important;">Sincerely,</p>
                <p style="font-weight: 600 !important;">Jared Rice Sr.</p>
                <p style="font-weight: 600 !important;">Inventor Of The dWeb</p>
                <p style="font-weight: 600 !important;">Co-Founder Of Peeps</p>
            </div>
        </div>
    </div>


    

    

    <!-- JS Global Compulsory -->
    <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="assets/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="assets/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="assets/vendor/custombox/dist/custombox.min.js"></script>
    <script src="assets/vendor/custombox/dist/custombox.legacy.min.js"></script>
    <script src="assets/vendor/jquery.countdown.min.js"></script>

    <!-- JS Space -->
    <script src="assets/js/hs.core.js"></script>
    <script src="assets/js/components/hs.validation.js"></script>
    <script src="assets/js/helpers/hs.focus-state.js"></script>
    <script src="assets/js/components/hs.modal-window.js"></script>
    <script src="assets/js/components/hs.show-animation.js"></script>
    <script src="assets/js/components/hs.countdown.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.1/axios.min.js"></script>

    

    
</body>

</html>