<!DOCTYPE html>
<html lang="en">

<head>
    <title>Become a Member</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="title" content="PeepsPatriot membership | Peeps">
    <meta name="description" content="Please fill out the form below to become a PeepsPatriot.">
    <meta name="keywords"
        content="peeps, peepssx, dsocial, dbrowser, dweb, arisen, dwallet, peeros, dsearch, dride, dbuy">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/logos/peepsx.png">

    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="assets/vendor/custombox/dist/custombox.min.css">
    <link rel="stylesheet" href="assets/vendor/animate.css/animate.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <!-- CSS Space Template -->
    <link rel="stylesheet" href="assets/css/theme.css">
    <!-- stripe payment js -->
    <script src="https://js.stripe.com/v3/"></script>


</head>

<body>
    
    <div class="main-content">
        <div class="container">
            <div class="email-content" style="padding: 50px;">
                <h1 style="text-align: center;">Thanks For Joining The Peeps Revolution.</h1>
                    <!-- Logo -->
                    <div class="emai-logo" style="text-align:center; margin:auto;">
                        <img src="https://peepsx.com/assets/img/logo/peepsLogo.png" alt="peepsx Logo" style="max-width: 50px !important; max-height: 50px !important;" >
                    </div>
                     <!-- End Logo -->
                <p style="font-weight: 600 !important;">Dear <%= user_firstname %></p> 
                <p style="font-weight: 600 !important;">First and foremost, I would like to thank you for helping support our efforts to build a safer and better Internet for everybody. We live in a society that has abandoned God at almost every turn. We can see that on the news every single day. We can see it in how our politicians act when we it comes to defending our freedoms. We can even see it in how companies are censoring and invading the privacy of their users, or how our justice system is used by dishonest prosecutors to attack those who attempt to expose it or in my case - change it. There has never been a more important time for us to fight back and we must do so through our ability to innovate for those who truly need it, around the globe.</p>
                <p style="font-weight: 600 !important;">In 1 Peter, Peter tells us not to panic during daunting times, instead he says we must be disciplined in our thinking, live differently than those around us and to be dependant on God's grace. Times like these call for a courageous few to take a stand against the evil principalities of our world, so that we can fight to create a safer society for We The People. The entire time I have spent as a prisoner of this dishonest justice system - I never panicked. In fact, today, I'm risking my life to continue this fight and that is the courage all of us must have if we plan on building a better Internet. Presently, there is a growing team of software developers and lawyers in jurisdictions from around the world who are working around the clock to build out many of my original plans, as well as their own. Because of people like you, we're able to put those ideas on computer screens across the world - it truly is a crusade happening in front of our eyes. Remember, building a safer Internet, means building a safer world - where tyrants and those who abuse power, as well as humanity itself, are no longer able to survive. It's time to press forward and courageously build that better world together, because without liberty or freedom, we literally have nothing. It's time to fight back - thanks for joining us.</p>
                <p style="font-weight: 600 !important;">Sincerely,</p>
                <p style="font-weight: 600 !important;">Jared Rice Sr.</p>
                <p style="font-weight: 600 !important;">Founder and CEO</p>
                <p style="font-weight: 600 !important;">Peeps</p>
            </div>
        </div>
    </div>


    

    

    <!-- JS Global Compulsory -->
    <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="assets/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="assets/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="assets/vendor/custombox/dist/custombox.min.js"></script>
    <script src="assets/vendor/custombox/dist/custombox.legacy.min.js"></script>
    <script src="assets/vendor/jquery.countdown.min.js"></script>

    <!-- JS Space -->
    <script src="assets/js/hs.core.js"></script>
    <script src="assets/js/components/hs.validation.js"></script>
    <script src="assets/js/helpers/hs.focus-state.js"></script>
    <script src="assets/js/components/hs.modal-window.js"></script>
    <script src="assets/js/components/hs.show-animation.js"></script>
    <script src="assets/js/components/hs.countdown.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.1/axios.min.js"></script>

    

    
</body>

</html>